body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mainContainer {
    width: 400px;
    background-color: #606060;
    border-radius: 20px;
    padding: 15px;
}

label {
    color: #ddd;
    font-weight: bold;
    font-size: small;
    margin-left: 10px;
}

input {
    width: calc(100% - 20px);
    margin-left: 10px;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #808080;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    color: #fff;
}

input::placeholder {
    color: #ccc;
}

.button {
    width: calc(100% - 20px);
    margin-left: 10px;
    height: 35px;
    background-color: #0077ff;
    border-radius: 10px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    border: none;
    outline: none;
}

.button:hover {
    background-color: #0068df;
}

.errorContainer {
    width: 400px;
    min-height: 50px;
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #ffa0a0;
    border: 2px solid #f00;
    color: #f00;
    border-radius: 10px;
    font-weight: bold;
    margin-bottom: 20px;
    position: relative;
}

#closeError {
    position: absolute;
    right: 5px;
    top: 5px;
    color: red;
    cursor: pointer;
}
